/**
 **  DEREKTBROWN.COM
 **  STYLESHEETS
 **  COPYRIGHT DEREK BROWN 2017
 **/

 /* FONTS */
 .font-cursive{
   font-family: 'Shadows Into Light', cursive;
 }
 .font-body{
   font-family: 'Open Sans', sans-serif;
 }

 h1{
   @extend .font-body;
   font-size: 480%;
   font-weight: 700;
   line-height:1em;
 }
 h2{
   @extend .font-cursive;
   font-size: 280%;
   font-weight: 300;
   line-height: 1.1em;
 }
 h3{
   @extend .font-body;
   font-size: 220%;
   font-weight: 300;
 }

 /* BODY */
 body {
   @extend .font-body;
 }

 /* SPLIT FORMAT */
   div#left section, div#right section{
     height:100vh;
     display: none;

     flex-direction: column;
     flex-wrap: nowrap;
     justify-content:space-around;
     align-items:center;

     &.welcome{
       display: flex;
     }
   }

 /* LEFT SIDE */
   div#left{

     section.welcome{
       background: #1E4875;

       div.message{
         padding-top: 10vh;
         text-align: center;
       }

       div.social-bar{
         padding-top: 10px;
         padding-bottom: 8vh;

         a i{
           color: #0b233d;

           margin:0 5px;
           font-size: 22pt;
           line-height:48pt;
           text-align: center;

           height: 48pt;
           width: 48pt;
           border-radius: 50%;

           &:hover{
             color:#fff;
             background-color:#0b233d;
           }
         }
       }

       div.headshot{
         width: 80%;
         height:70vh;

         background: url('../img/derek.png');
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center bottom;
       }
     }

     section.background{

     }

     section.projects{
       
     }
   }

   /* RIGHT SIDE */
   div#right{
     div#menu{
       position:absolute;

       @extend .font-body;
       font-size:200%;
       line-height:150%;
       font-weight: 300;

       .uk-subnav-pill > .uk-active > * {
         background-color: #1E4875;
       }
     }

     section{
       width: 80%;
       margin-left:35px;

       @extend .font-body;
       font-size:1.2em;
     }
   }
